!!!
%html
  %head
    %title= "Siffer Agent - #{@agent_name}"
    %meta{:'http-equiv' => "content-type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/agent.css"}
  %body
    %h1= @agent_name
    = yield