%h2 Edit Server
= error_messages_for :server
%form{:action => "/servers/#{@server.id}", :method => "post"}
  %input{:type => "hidden", :value => "PUT", :name => "_method"}
  %p
    %label{:for => "server_name"} Name:
    %br
    %input{:type => "text", :name => "server[name]", :id => "server_name", :value => @server.name}
  %p
    %label{:for => "server_host"} Host:
    %br
    %input{:type => "text", :name => "server[host]", :id => "server_host", :value => @server.host}
  %p
    %label{:for => "server_port"} Port:
    %br
    %input{:type => "text", :name => "server[port]", :id => "server_port", :value => @server.port}
  %p
    %label{:for => "server_minimum_buffer"} Minimum Buffer:
    %br
    %input{:type => "text", :name => "server[minimum_buffer]", :id => "server_minimum_buffer", :value => @server.minimum_buffer}
  %input{:type => "submit", :value => "Update"}
  %a{:href => "/servers"} Cancel